/*---------------- reset all styles ----------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover, a:visited, a:active, a:focus{
	outline: none;
}

/* inter-100 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-200 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-300 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v12-cyrillic_latin/inter-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

.header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 136px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    border-color: #E2E8F0;
}

.header-topest-stripe {
    background-color: #1E293B;
    height: 4px;
    padding: 2px 124px;
}

.header-top-stripe {
    display: flex;
    background-color: #1E293B;
    max-width: 1918px;
    height: 52px;
}

.header-top-stripe-inner {
    margin: auto;
    display: flex;
    width: 1296px;
    height: 36px;
}
.header-btns {
    margin-left: auto;
    display: flex;
    gap: 24px;
}

.header-login-btn {
    width: 80px;
    height: 36px;
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.25s;
}

.header-login-btn:hover {
    background-color: #E2E8F0;
    border-radius: 4px;
}

.header-login-btn:hover .header-login-txt {
    color: #1E293B;
}

.header-login-btn:hover .header-login-img-white {
    display: none;
}
    
.header-login-img-black {
    display: none;    
}

.header-login-btn:hover .header-login-img-black {
    display: block;
}


.header-login-txt {
    color:#E2E8F0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.header-new-ad-btn {
    margin: auto;
    width: 179px;
    border-radius: 4px;
    background-color: #3B82F6;
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    gap: 4px;
    transition: 0.25s;
    cursor: pointer;   
}

.header-new-ad-btn:hover {
    background-color: #E2E8F0;
}

.header-new-ad-txt {
    color: #E2E8F0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.header-new-ad-btn:hover .header-new-ad-txt {
    color: #3B82F6;
}

.plus-sign-blue {
    display: none;
}

.header-new-ad-btn:hover .plus-sign-blue {
    display: block;
}

.header-new-ad-btn:hover .plus-sign-white {
    display: none;
}

.header-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1296px;
    height: 92px;
    background-color: #E2DBFC00;
}
.header-transparent-stripe{
    width: 100%;
    height: 24px;
    padding: 2px 124px;
}

.search-bar-section {
display: inline-flex;
align-items: center;
}

.title-txt {
    color: #1E293B;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding-right: 24px;
}
.all-categories-btn {
    display: inline-flex;
    width: 152px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #3B82F6;
    padding: 8px 12px;
    column-gap: 8px;
    transition: 0.25s;
    cursor: pointer;
}
.all-categories-btn:hover {
    background-color: #3B82F6;;
}

.all-categories-btn:hover .nested-list-img-white {
    display: block;

}

.all-categories-btn:hover .nested-list-img-blue {
    display: none;

}

.nested-list-img-blue {
    width: 20px;
    height: 20px;
}
.nested-list-img-white {
    width: 20px;
    height: 20px;
    display: none;
}

.all-categories-txt {
    color: var(--light-text-primary-text, #3B82F6);
    font-size: 14px;
    line-height: 20px;
}

.all-categories-btn:hover .all-categories-txt{
    overflow: hidden;
    color: #E2E8F0;
    display: flex;
    width: 152px;
    height: 36px;
    border-color: #3B82F6;
    column-gap: 8px;
}

.search-bar {
    margin-left: 12px;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--light-forms-border, #CBD5E1);
    background: var(--light-forms-background, #FFF);
    width: 734px;
    height: 36px;
}
.search-bar-txt {
    flex: 1 0 0;
    color: var(--light-text-secondary-text, #64748B);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.search-btn {
    width: 91px;
    height: 36px;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 0px 4px 4px 0px;
    background: var(--light-utility-primary, #3B82F6);
    transition: 0.25s;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid;
    border-color: #3B82F6;
}
.search-btn-txt {
    color: var(--light-text-inverse-text, #E2E8F0);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.search-btn:hover .search-btn-txt{
    color: #3B82F6;
}

.search-btn-img-white {
    width: 16px;
    height: 16px;
}

.search-btn-img-blue {
    width: 16px;
    height: 16px;
    display: none;
}

.search-btn:hover .search-btn-img-white {
    display: none;
}

.search-btn:hover .search-btn-img-blue {
    display: block;
}

.main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1296px;
    background-color: #E2DBFC00;
}
.main-transparent-gap {
    width: 1296px;
    height: 32px;
    padding: 2px 124px;
}
.personal-recommendation-txt {
    color: var(--light-text-default-text, #1E293B);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.main-ad-line {
    display: flex;
    width: 1296px;
    gap: 24px;
}
.ad-card {
    height: 336px;
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;  
    overflow: hidden;  
}
.ad-card-pic {
    align-self: stretch;
    width: 306px;
    height: 240px;
    object-fit: none; /* Запрещаем масштабирование изображения */
    object-position: center; /* Центрируем картинку от центра */
}

.ad-card-pic:hover {
    align-self: stretch;
    width: 306px;
    height: 240px;
    object-fit: none; /* Запрещаем масштабирование изображения */
    object-position: center; /* Центрируем картинку от центра */
    transform: scale(1.025);
    transition: transform 0.25s;
    cursor: pointer;
}

.ad-card-description {
    width: 306px;
    height: 88px;
    display: flex;
    flex-direction: column;
}

.ad-title {
    width: 306px;
    color: var(--light-text-primary-text, #3B82F6); 
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    transition: 0.25ms;
}
.ad-title:hover {
    width: 306px;
    color: var(--light-text-primary-text, #3B82F6); 
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    color: #ff6163;
}

.ad-price {
    color: var(--light-text-default-text, #1E293B);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.ad-address-time {
    color: var(--light-text-secondary-text, #64748B);
    font-size: 14px;
    line-height: 20px; 
}
.main-gap-between-ad-lines {
    width: 1296px;
    height: 32px;
    padding: 2px 124px;
}
.main-gap-bottom {
    width: 1296px;
    height: 80px;
    padding: 2px 124px;
}