.wrapper {
    display: flex;
    width: 1296px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#header_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}